---
title: Característica
---
<script lang="ts">
    import { stats} from '$lib/catalog/models/stats';
    import RuleLink from '$lib/components/rules-reference/RuleLink.svelte';
</script>

Un atribut numèric que reflecteix la competència d'un personatge en un àmbit físic o
mental concret.

Cada personatge compta amb les següents característiques:

<ul>
{#each Object.keys(stats) as slug}
    <li><RuleLink {slug} /></li>
{/each}
</ul>