---
title: Reacció
---
<script type="scss">
    import RuleLink from "$lib/components/rules-reference/RuleLink.svelte"
</script>

Una <RuleLink slug="capability" transform="lowercase"/> que s'activa quan es produeix
un esdeveniment específic. Les reaccions permeten als personatges respondre a diferents
situacions del joc, durant i fora del seu torn.

Segons la seva obligatorietat, les reaccions es classifiquen en dos grups:
- <RuleLink slug="opportunity" label="Oportunitats"/>: s'executen només si el seu
   propietari ho vol
- <RuleLink slug="obligation" label="Obligation"/>: s'executen sempre, de forma
   obligatòria
